<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой Проект</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


</head>
{% block header %}
<header>
    <aside class="sidebar collapsed">
        <nav>
            <div>
                <img class="logo" src="{% static 'img/logo.svg' %}" alt="Логотип">
            </div>
            <button class="burger"></button>
            <button id="themeToggle" class="theme-toggle">
                <img class="theme_changer_ico" src="{% static 'img/moon_dark.svg' %}">
            </button>
        </nav>
        <ul>
            <li class="no-wrap" data-tooltip="Главная страница"><a href="home"><img src="{% static 'img/home_icon_light.svg' %}" alt="Главная страница"
                                                     style="width: 20px; height: 20px; margin-right: 10px;" class="icon"
                                                     data-light-src="{% static 'img/home_icon_light.svg' %}"
                                                     data-dark-src="{% static 'img/home_icon_dark.svg' %}"><span>Главная страница</span></a>
            </li>
            <li class="no-wrap" data-tooltip="Общая статистика"><a href="general_statistics"><img src="{% static 'img/statistic_icon_light.svg' %}"
                                                      alt="Общая статистика"
                                                      style="width: 20px; height: 20px; margin-right: 10px;"
                                                      class="icon"
                                                      data-light-src="{% static 'img/statistic_icon_light.svg' %}"
                                                      data-dark-src="{% static 'img/statistic_icon_dark.svg' %}"><span>Общая статистика</span></a>
            </li>
            <li class="no-wrap" data-tooltip="Востребованность"><a href="demand"><img src="{% static 'img/demand_icon_light.svg' %}"
                                                         alt="Востребованность"
                                                         style="width: 20px; height: 20px; margin-right: 10px;"
                                                         class="icon"
                                                         data-light-src="{% static 'img/demand_icon_light.svg' %}"
                                                         data-dark-src="{% static 'img/demand_icon_dark.svg' %}"><span>Востребованность</span></a>
            </li>
            <li class="no-wrap" data-tooltip="География"><a href="geography"><img src="{% static 'img/geography_icon_light.svg' %}"
                                                        alt="География"
                                                        style="width: 20px; height: 20px; margin-right: 10px;"
                                                        class="icon"
                                                        data-light-src="{% static 'img/geography_icon_light.svg' %}"
                                                        data-dark-src="{% static 'img/geography_icon_dark.svg' %}"><span>География</span></a>
            </li>
            <li class="no-wrap" data-tooltip="Навыки"><a href="skills"><img src="{% static 'img/skills_icon_light.svg' %}" alt="Навыки"
                                                          style="width: 20px; height: 20px; margin-right: 10px;"
                                                          class="icon"
                                                          data-light-src="{% static 'img/skills_icon_light.svg' %}"
                                                          data-dark-src="{% static 'img/skills_icon_dark.svg' %}"><span>Навыки</span></a>
            </li>
            <li class="no-wrap" data-tooltip="Последние вакансии"><a href="latest_vacancies"><img src="{% static 'img/job_search_icon_light.svg' %}"
                                                     alt="Последние вакансии"
                                                     style="width: 20px; height: 20px; margin-left: 1px;" class="icon"
                                                     data-light-src="{% static 'img/job_search_icon_light.svg' %}"
                                                     data-dark-src="{% static 'img/job_search_icon_dark.svg' %}"><span>Последние вакансии</span></a>
            </li>
        </ul>
        <div class="github-div2">
            <a href="https://github.com/ChityaVerepanov/final-django-project">
                <div class="github-div-icon">
                    <img src="{% static 'img/github-icon.svg' %}" alt="иконка github" class="github-icon"
                         data-light-src="{% static 'img/github-icon.svg' %}"
                         data-dark-src="{% static 'img/github-white-icon.svg' %}">
                </div>
                <span class="github-span">GitHub</span>
            </a>
        </div>
        <div class="tooltip" id="tooltip"></div>
    </aside>
</header>
{% endblock %}
<body class="{{ current_theme }}">
{% block content %}
{% endblock %}
</body>
{% block footer %}
<footer>
    <p>Черепанов Виктор Александрович, РИ-230914</p>
</footer>
{% endblock %}
</html>
<script>
    // Функция для установки темы
    function setTheme(theme) {
        const logo = document.querySelector('.logo');
        const moonIcon = document.querySelector('.theme_changer_ico');
        const icons = document.querySelectorAll('.icon');
        const githubIcon = document.querySelector('.github-icon');

        document.body.className = theme;

        if (theme === 'dark-theme') {
            logo.src = '{% static "img/logo_white.svg" %}';
            moonIcon.src = '{% static "img/sun_light.svg" %}';
            icons.forEach(icon => {
                icon.src = icon.getAttribute('data-dark-src');
            });
            githubIcon.src = githubIcon.getAttribute('data-dark-src');
        } else {
            logo.src = '{% static "img/logo.svg" %}';
            moonIcon.src = '{% static "img/moon_dark.svg" %}';
            icons.forEach(icon => {
                icon.src = icon.getAttribute('data-light-src');
            });
            githubIcon.src = githubIcon.getAttribute('data-light-src');
        }

        localStorage.setItem('theme', theme);
    }

    // Функция для получения значения cookie
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Проверяем сохраненную тему при загрузке страницы
    document.addEventListener('DOMContentLoaded', function () {
        const savedTheme = getCookie('theme') || 'light-theme'; // Загружаем тему из cookies или по умолчанию светлая
        setTheme(savedTheme);
    });

    // Обработчик события для переключения темы
    document.getElementById('themeToggle').addEventListener('click', function () {
        const currentTheme = document.body.className;
        const newTheme = currentTheme === 'light-theme' ? 'dark-theme' : 'light-theme';
        setTheme(newTheme);

        // Устанавливаем cookie с новой темой
        document.cookie = "theme=" + newTheme + "; path=/"; // path=/ чтобы cookie было доступно на всех страницах
    });

    document.addEventListener("DOMContentLoaded", function() {
        // Получаем текущий URL
        const currentUrl = window.location.pathname;

        // Находим все элементы <li>
        const menuItems = document.querySelectorAll('.sidebar ul li a');

        // Перебираем элементы и добавляем класс active к текущему
        menuItems.forEach(item => {
            // Убираем начальный слэш для сравнения
            const href = item.getAttribute('href').startsWith('/') ? item.getAttribute('href').slice(1) : item.getAttribute('href');
            if (href === currentUrl.slice(1)) { // Убираем начальный слэш из currentUrl
                item.parentElement.classList.add('active');
            }
        });
    });

    const tooltip = document.getElementById('tooltip');
    const items = document.querySelectorAll('.sidebar ul li');

    items.forEach(item => {
        item.addEventListener('mouseenter', function (e) {
            const tooltipText = this.getAttribute('data-tooltip');
            tooltip.textContent = tooltipText;
            tooltip.style.display = 'block';
            tooltip.style.left = 'calc(100% + 10px)'; // Позиция справа от элемента
            tooltip.style.top = (e.target.getBoundingClientRect().top - 30) + 'px';
        });

        item.addEventListener('mouseleave', function () {
            tooltip.style.display = 'none';
        });
    });

    const burger = document.querySelector('.burger');
    const sidebar = document.querySelector('.sidebar');

    burger.addEventListener('click', () => {
        sidebar.classList.toggle('collapsed');
        burger.classList.toggle('active');
    });

    document.addEventListener('DOMContentLoaded', function () {
        const elements = document.querySelectorAll('.under-promo');

        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible'); // Добавить класс при попадании в область видимости
                    observer.unobserve(entry.target); // Удалить наблюдение после появления
                }
            });
        });

        elements.forEach(element => {
            observer.observe(element); // Начать наблюдение за каждым элементом
        });
    });
</script>
