{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<div class="promo-container" id="particles-js">
    <h1 class="promo-title">{ Web-Developer } </h1>
</div>
<div class="under-promo-container">
    <div class="under-promo-photo-block">
        <h2 class="block-title">
            Кто такой веб-разработчик?
        </h2>
        <div class="container-with-photo">
            <p class="under-promo block-text">
                Веб-разработчик создаёт сайты и веб-приложения. Его основная задача — разрабатывать, поддерживать и
                развивать
                клиентскую часть web-страниц — то, что видят пользователи, и серверную — ту, которая доступна только
                разработчикам.
            </p>
            <img class="under-promo-image" src="{% static 'img/developers-avatar.jpg' %}" alt="web developers">
        </div>
    </div>
    <p class="under-promo">
        Разработчика сайтов иногда путают с веб-дизайнером. Часто они работают над одним проектом, но задачи у них
        разные. Рассмотрим их на примере интернет-магазина:
    </p>
    <ul class="under-promo">
        <li>
            <span class="list-number">01. </span>
            Веб-дизайнер разрабатывает концепцию, собирает макет, подбирает цвета, шрифты, фотографии и другие элементы.
        </li>
        <li><span class="list-number">02. </span>Веб-разработчик с помощью кода делает функциональными элементы, которые
            разработал дизайнер. Например,
            программирует анимацию, изменение цвета кнопок при нажатии, формы для заполнения. Подключает сайт к
            различным
            сервисам, например к платёжной системе, CRM и системе управления логистикой.
        </li>
    </ul>
    <h2 class="under-promo-title">
        Чем занимается веб-разработчик?
    </h2>
    <p class="under-promo under-promo-developers">
        <b>Фронтенд-разработчик</b> занимается клиентской частью сайта — той, которую пользователь видит в браузере. С
        помощью
        кода он реализует идею, которую дизайнер заложил в макете. Например, может разработать функцию корзины в
        интернет-магазине.
    </p>
    <p class="under-promo under-promo-developers">
        <b>Бэкенд-разработчик</b> создает серверную часть сайта и работает с базами данных и функциями для обработки
        информации
        на сервере. Может отвечать за авторизацию, обработку платежей, работу с почтовыми уведомлениями. Например, для
        интернет-магазина может создать административную панель для управления ассортиментом товаров в каталоге.
    </p>
    <p class="under-promo under-promo-developers">
        <b>Фулстек-разработчик</b> (от англ. full stack — «полный набор») силён в обоих направлениях. Он занимается и
        клиентской, и серверной частью сайта. Участвует во всём цикле веб-разработки и знаком с основными языками,
        технологиями и фреймворками как для фронтенда, так и для бэкенда.
    </p>
    <h2 class="under-promo-title">
        Современные технологии веб‑разработки
    </h2>
    <p class="under-promo">
        Людям нужны быстрые, удобные и красивые сайты. По данным Google, пользователь закроет мобильную версию сайта,
        если она загружается дольше трёх секунд, и продолжит пользоваться сайтом или приложением, если они удобные.
        Веб-разработчики могут создавать такие сервисы, если будут использовать подходящие языки, фреймворки, библиотеки
        и технологии. Вот восемь из них:
    </p>
    <ol class="under-promo">
        <li class="under-promo-developers">
            <span class="list-number">01. JavaScript </span>— язык программирования, который разработчики используют для
            создания интерактивных элементов на веб-страницах. Например, галереи фотографий, которые можно листать,
            выпадающие меню или кнопки, которые меняют внешний вид при наведении курсора. Это единственный язык
            программирования для фронтенда, поэтому он очень популярный ― для запуска программ в браузере нет
            альтернативы.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">02. HTML / CSS </span>— две связанные технологии, которые используют для
            определения структуры и стиля веб-страниц. Например, HTML может определить, где на странице разместить
            текст, картинки и другие элементы, а CSS добавляет визуальные элементы — цвет и шрифты.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">03. React, Angular и Vue.js </span>— фреймворки JavaScript, которые разработчики
            используют для создания пользовательских интерфейсов. Фреймворк – это готовый код для решения типовых задач.
            Например, задать маршрут для данных от сайта к серверу, обновить их или сохранить, если пользователь
            переходит в другой раздел сайта или приложения. Пользователь не видит все эти процессы, но разработчик
            должен их запрограммировать, чтобы приложение работало, как задумано. Если писать код для таких задач на
            обычном JavaScript, это займёт много времени и можно допустить в нём ошибки. Во фреймворке прописаны правила
            и ограничения для кода, поэтому он получается более однообразным, предсказуемым и с меньшим количеством
            ошибок. Так писать приложения получается быстрее — разработчик фокусируется на сути продукта, а не
            технических деталях.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">04. TypeScript </span>— это расширение JavaScript. С ним код более надёжный и
            читабельный.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">05. Node.js </span>— это среда выполнения JavaScript, которая позволяет
            разработчикам создавать серверные приложения на этом языке. Например, можно разработать сервер электронной
            почты, чтобы отправлять и получать сообщения. Другой пример бэкенда на Node.js — социальная сеть, где
            пользователи могут заполнить профиль и запостить фото с подписью.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">06. Python </span>— язык программирования, который поддерживает многопоточность и
            может выполнять одновременно несколько задач. С этой функцией веб-приложение можно усложнять и не бояться,
            что оно будет зависать. У Python много библиотек и фреймворков, которые помогают быстрее и проще писать код.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">07. PostgreSQL </span>— одна из лучших реляционных SQL баз данных. Её используют
            для хранения, организации и управления большими объёмами структурированных данных. Такую базу может внедрить
            онлайн-магазин — чтобы хранить данные о клиентах, заказах, товарах и складах.
        </li>
        <li class="under-promo-developers">
            <span class="list-number">08. MongoDB </span>— одна из популярных нереляционных No-SQL баз данных, часто
            используется в стеке с Node.js на бэкенде.
        </li>
    </ol>
</div>


<script>
    particlesJS.load('particles-js', '{% static "js/particlesjs-config.json" %}', function () {
        console.log('callback - particles.js config loaded');
    });
</script>
{% endblock %}