{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="pages-title-centered-container">
    <div class="pages-title-container">
        <div class="icon-plus top-left">+</div>
        <div class="icon-plus top-right">+</div>
        <div class="icon-plus bottom-left">+</div>
        <div class="icon-plus bottom-right">+</div>
        <h1 class="demand-main-title">Навыки</h1>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2 class="pages-main-subtitle">ТОП-20 навыков</h2>
<div class="pages-graph">
    <canvas id="skillsChart" width="400" height="200"></canvas>
</div>

<h2 class="pages-main-subtitle">Табличное представление навыков</h2>
<table id="pagesSkillsTable" class="pagesTable" border="1">
    <thead>
    <tr>
        <th>Навык</th>
        <th>Частота</th>
    </tr>
    </thead>
    <tbody>
    <!-- Данные будут добавлены здесь с помощью JavaScript -->
    </tbody>
</table>

<script>
    // Данные для графика ТОП-20 навыков
    const topSkills = {{top_skills | safe}}; // Получаем данные из контекста
    const skills = topSkills.map(skill => skill[0]); // Извлекаем названия навыков
    const skillCounts = topSkills.map(skill => skill[1]); // Извлекаем количество упоминаний навыков

    // Проверка данных в консоли
    console.log(skills);
    console.log(skillCounts);

    // Создание графика ТОП-20 навыков
    const ctxSkills = document.getElementById('skillsChart').getContext('2d');
    const skillsChart = new Chart(ctxSkills, {
        type: 'bar', // Тип графика: столбчатая диаграмма
        data: {
            labels: skills,
            datasets: [{
                label: 'Частота навыков',
                data: skillCounts,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'ТОП-20 навыков'
                }
            }
        }
    });

    // Заполнение таблицы данными
    const topSkillsTableBody = document.getElementById('pagesSkillsTable').getElementsByTagName('tbody')[0];
    topSkills.forEach(skill => {
        const row = topSkillsTableBody.insertRow();
        const cellSkill = row.insertCell(0);
        const cellCount = row.insertCell(1);
        cellSkill.textContent = skill[0]; // Название навыка
        cellCount.textContent = skill[1]; // Частота
    });
</script>
{% endblock %}