/* white: background-color: #EFEFEF;
   black: background-color: #171717;

/* General Reset */

::selection {
    background-color: #1B9AAA;
    color: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    line-height: 1.6;
    margin-left: 10%;
    width: 100%;
    min-height: 100%;
    max-width: 80%;
    transition: background-color 0.3s ease;
    padding: 2rem;
    /*border: 1px solid blue;*/
}

body.light-theme {
    background-color: #EFEFEF;
    color: #171717;
}

body.dark-theme {
    background-color: #171717;
    color: #EFEFEF;
}

#themeToggle{
    width: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

body.dark-theme .sidebar {
    background-color: rgba(14, 14, 16, 0.7); /* Полупрозрачный фон */
    color: #f0f0f0; /* Цвет текста */
    backdrop-filter: blur(10px); /* Размытие фона */
    border-radius: 10px; /* Скругление углов */
    box-shadow: 1px 0 5px rgba(188, 188, 188, 0.2);
}


body.dark-theme .sidebar ul li a {
    color: #f0f0f0; /* Dark theme link color */
}

body.dark-theme .sidebar ul li a:hover {
    background-color: #1B9AAA; /* Dark theme hover background color */
    color: #fff; /* Dark theme hover text color */
}

.nav-menu{
    flex-wrap: nowrap;
    align-items: center;
    height: 20%;
    display: flex;
    width: 100%; /* Ширина навигационного меню */
}

.logo-div{
    flex: 0 0 75%; /* Логотип занимает 60% ширины */
    height: auto;
}

.controls-div {
    display: flex; /* Вторая колонка также использует Flexbox */
    flex-direction: column; /* Элементы располагаются вертикально */
    flex: 1; /* Занимает оставшуюся ширину */
    height: 100%;
    justify-content: space-between;
}

.burger-div, .theme-toggle-div {
    flex: 0 0 40%; /* Каждая кнопка занимает 50% высоты родительского контейнера */
}


body.dark-theme .github-span {
    color: #EFEFEF;
}


.github-icon {
    display: flex;
    justify-content: center;
    height: auto;
    width: 20px;
    position: relative;
}

.github-div-icon {
    display: flex;
    justify-content: center;
    width: 100%
}

.github-div2 {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    bottom: 4%;
}

.github-div2 a {
    text-decoration: none;
}

.github-div {
    display: flex;
    position: relative;

}

.github-span {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
    margin: 0;
    font-size: 0.6em;
    color: #171717;
}

.sidebar.collapsed #themeToggle {
    position: relative; /* Размещаем переключатель темы в свернутом состоянии */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.sidebar.collapsed .controls-div{
    justify-content: space-around;
}

.sidebar.collapsed .logo{
    display: flex;
    justify-content: center;
}

.theme_changer_ico {
    width: 100%;
    height: auto;
}

.sidebar.collapsed .logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar.collapsed .theme_changer_ico {
    width: 75%;
}

.theme-toggle-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger-div{
    width: 100%;
    position: relative;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burger {
    border: none;
    background: transparent;
    width: 22px;
    height: 17.33px;
    position: absolute;
    cursor: pointer;
    display: block;
}


body.dark-theme .burger.active::before {
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
}

.burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

body.dark-theme .burger::before,
body.dark-theme .burger::after {
    background: #76cfcc; /* Цвет бургер-меню белый в темной теме */
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2.67px; /* 4px / 1.5 */
    border-radius: 10px;
    background: #76cfcc;
}


.burger.active::after {
    bottom: 4.5px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

.burger::before {
    top: 0;
    box-shadow: 0 7.33px 0 #76cfcc;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
}

/* Header */

.sidebar.active {
    transform: translateX(0);
}


.logo {
    /*border: 1px solid black;*/
    display: block;
    width: 100%;
    max-width: 350px; /* Ограничиваем максимальную ширину логотипа */
    height: auto; /* Поддерживаем пропорции изображения */
}

/* Sidebar */
.sidebar {
    width: 300px;
    height: 90vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    /*margin-top: 2rem;*/
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    background: rgba(255, 255, 255, 0.3); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Размытие заднего фона */
    border-radius: 15px; /* Закругление углов (по желанию) */
    z-index: 2;
}

.sidebar ul li.active {
    border: 1px solid #76cfcc;
    background-color: rgba(118, 207, 204, 0.59); /* Цвет фона для активного элемента */
    border-radius: 15px;
}

body.dark-theme .sidebar ul li.active {
    background-color: rgba(118, 207, 204, 0.44);
}

.sidebar.collapsed .logo-div{
    width: 100%;
    flex-basis: 35%;
}


.sidebar.collapsed .nav-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar.collapsed {
    width: 60px;
}

.sidebar.collapsed ul li a {
    justify-content: center;
}

.sidebar.collapsed ul li a span {
    display: none; /* Скрываем текст */
}

.sidebar ul li a:hover {
    background-color: #76cfcc; /* Light theme hover background color */
}

.tooltip {
    position: fixed;
    padding: 5px 10px;
    text-wrap: nowrap;
    border: 1px solid rgba(92, 92, 92, 0.2); /* Полупрозрачная граница */
    border-radius: 7.5px;
    display: none;
    z-index: 100;
    pointer-events: none;
    background: rgb(239, 239, 239); /* Полупрозрачный фон */
    box-shadow: 0 4px 15px rgba(55, 55, 55, 0.2); /* Тень для глубины */
}

body.dark-theme .tooltip {
    color: rgba(198, 198, 198, 0.93);
    background: rgb(34, 34, 37); /* Полупрозрачный фон */
    box-shadow: 0 4px 15px rgba(73, 73, 73, 0.2); /* Тень для глубины */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная граница */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.no-wrap {
    white-space: nowrap;
    padding: 3px;
}

.wrap {
    white-space: pre;
    vertical-align: middle;
}

.sidebar ul li {
    margin: 1rem 0;

}

.icon {
    position: relative;
    top: 2px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    display: block;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    color: #1a1a1a;

}

.sidebar.collapsed ul:before {
    display: block;
    background-color: black;
    content: "";
    position: absolute;
    margin-top: -10px;
    width: 60%;
    left: 20%;
    height: 1px;
}

.sidebar ul:before {
    display: none;
}

body.dark-theme .sidebar ul:before {
    background-color: #FFFAFA;
}

.sidebar ul:after {
    content: '';
    display: block;
    width: 50%; /* Ширина полоски */
    height: 1px; /* Высота полоски */
    background-color: #171717; /* Цвет полоски */
    position: absolute;
    bottom: 12%; /* Позиция полоски */
    left: 25%; /* Позиция полоски */
}

body.dark-theme .sidebar ul:after {
    background-color: #EFEFEF;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    margin-top: 5vh;
    width: 94%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 1;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/*-------------------------------Content----------------------------------*/

.promo-title {
    margin-left: 5%;
    font-family: "work sans", serif;
    overflow: hidden;
    border-right: .1em solid #1B9AAA;
    white-space: nowrap;
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%); /* Сдвигаем на половину высоты элемента */
    font-size: 8vw; /* Используем vw для адаптивного размера шрифта */
    max-width: 90%; /* Устанавливаем максимальную ширину */
    z-index: 1;
    animation: typing 2s steps(15, end) forwards,
    blinking 0.75s infinite;
}

.promo-title::before,
.promo-title::after {
    font-weight: 400;
    content: "8f#e3$6";
    position: absolute;
    font-size: 0.7rem; /* Размер значка */
}

.promo-title::before {
    top: 30px; /* Положение в верхнем левом углу */
    left: 0;
}

.promo-title::after {
    content: "#21!@3!";
    bottom: 10px; /* Положение в нижнем правом углу */
    right: 0;
}

.promo-container {
    position: relative;
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: flex-start; /* Центрируем содержимое по горизонтали */
    align-items: center; /* Центрируем содержимое по вертикали */
    width: 100%;
    height: 95vh;
    margin-bottom: 5vh;
    border-radius: 35px;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    from {
        border-color: transparent;
    }
    to {
        border-color: #1B9AAA;
    }
}

.under-promo-title {
    font-size: 2.5rem;
    padding-bottom: 1%;
}

.block-text{
    display: flex;
    align-items: center;
}

.under-promo {
    font-size: 1.5em;
    opacity: 0; /* Скрыть текст */
    transition: opacity 1s ease, transform 0.5s ease; /* Плавный переход */
    align-self: stretch;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}

.under-promo li {
    margin-bottom: 2.5%;
    list-style-type: none;
}

.under-promo-container {
    border: 1.5px ridge #818080D8;
    border-radius: 15px;
    padding: 2% 2%;
}

.list-number {
    color: #1B9AAA;
    font-weight: bold;
}

.under-promo.visible {
    opacity: 1; /* Показать текст */
    transform: translateY(0); /* Вернуть на место */
}

.block-title {
    color: #171717;
    font-size: 2.5rem;
    padding-left: 1.5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.under-promo-photo-block {
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(221, 221, 221, 0.85);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.container-with-photo {
    display: flex;
    /*border: 1px solid blue;*/
    border-radius: 15px;
    padding: 3%;
    background-color: rgb(205, 204, 204);
    font-weight: 500;
    font-size: 2vh;
}


body.dark-theme .under-promo-photo-block {
    /*border: 1px solid red;*/
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: rgba(129, 128, 128, 0.85);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

body.dark-theme .container-with-photo {
    color: #d8d8d8;
    display: flex;
    /*border: 1px solid blue;*/
    border-radius: 15px;
    padding: 3% 3%;
    background-color: rgba(48, 48, 48, 0.61);
    font-weight: 500;
}

.under-promo-image {
    align-self: center;
    width: auto;
    height: 25vw;
    margin-left: 25px;
    border-radius: 15px;
}

body.dark-theme .under-promo-developers {
    background-color: rgba(48, 48, 48, 0.61);
    padding: 3%;
    border-radius: 15px;
}

.under-promo-developers {
    background-color: rgba(191, 191, 191, 0.61);
    padding: 3%;
    border-radius: 15px;
}

/*------------------------------Demand---------------------------------*/
.pages-title-centered-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

.pages-title-container {
    position: relative;
    width: 60%;
}

.icon-plus {
    position: absolute;
    font-size: 1.7rem;
}

.top-left {
    top: -15px;
    left: 0;
}

.top-right {
    top: -15px;
    right: 0;
}

.bottom-left {
    bottom: -15px;
    left: 0;
}

.bottom-right {
    bottom: -15px;
    right: 0;
}

.demand-main-title {
    display: flex;
    width: 100%;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
}

.pages-main-subtitle {
    font-family: "work sans", sans-serif;
    text-align: center;
    padding: 1.5%;
    color: #171717;
}

body.dark-theme .pages-main-subtitle {
    color: #EFEFEF;
}

.pages-graph {
    background-color: #bfbfbf9c;
    padding: 3%;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Тень */
    margin-bottom: 5%;
}

body.dark-theme .pages-graph {
    box-shadow: 0 4px 20px rgba(78, 78, 78, 0.5);
}

body.dark-theme .pages-graph {
    background-color: #3030309c;
}

.pages-hh-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Две колонки одинаковой ширины */
    gap: 20px; /* Расстояние между элементами */
    max-width: 100%;
}

.job-listing {
    border: 1px solid #ccc;
    background-color: #ddddddd9;
    padding: 5%;
    margin: 2% 0;
    border-radius: 15px;
}

body.dark-theme .job-listing {
    border: 1px solid rgba(172, 172, 172, 0.85);
    background-color: rgba(69, 69, 69, 0.85);
}

.job-listing a {
    font-weight: bold;
    color: #0dc1ba;
    font-size: 1.35em;
    text-decoration: none;
}

.job-listing a:hover {
    text-decoration: underline;
}

.job-listing div {
    margin: 2% 0;
}

.job-details {
    flex-grow: 1;
}

.job-title-container {
    display: flex;
    align-items: center; /* Центрирует элементы по вертикали */
    justify-content: space-between; /* Размещает элементы по краям */
}

.job-title a:hover {
    text-decoration: underline;
}

.job-company {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

body.dark-theme .job-company {
    color: #EFEFEF;
}

.job-salary {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
}

body.dark-theme .job-salary {
    color: rgb(255, 255, 255);
}

.logo_company {
    width: 15%;
    height: auto;
    margin-left: 15px;
    border-radius: 15px;
}

.desc {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

body.dark-theme .desc {
    color: #EFEFEF;
}

.job-city {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
    font-style: italic;
}

body.dark-theme .job-city {
    color: #EFEFEF;
}

.job-experience {
    background-color: #F1F4F9;
    border-radius: 5px;
    padding: 8px 8px;
    margin-top: 10px;
    font-size: 14px;
    color: #696E79;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    border: 1px solid #171717;
}

body.dark-theme .job-experience {
    color: #cccccc;
    background-color: #353535;
    border: 1px solid #b8b8b8;
}

.job-date {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.pagesTable {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2%;
}

.pagesTable td {
    padding: 1%;
    text-align: center;
}

.pagesTable th {
    width: 50%;
    font-size: 1.5rem;
}

.showMoreDiv {
    display: flex;
    justify-content: center;
}

#showMoreButton {
    font-family: "work sans", sans-serif;
    border-radius: 15px;
    padding: 1%;
    background-color: #EFEFEF; /* Исходный цвет фона */
    color: #303030; /* Исходный цвет текста */
    cursor: pointer; /* Изменяем курсор на указатель */
    border: #1a1a1a 1px solid;
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета текста */
    margin-bottom: 5%;
}

#showMoreButton:hover {
    background-color: #515151; /* Цвет фона при наведении */
    color: #EFEFEF; /* Цвет текста при наведении */
}

body.dark-theme #showMoreButton {
    background-color: #3030309c; /* Цвет фона в темной теме */
    color: #EFEFEF; /* Цвет текста в темной теме */
    border: 1px solid #a5a5a5;
}

body.dark-theme #showMoreButton:hover {
    background-color: #EFEFEF; /* Цвет фона при наведении в темной теме */
    color: #303030; /* Цвет текста при наведении в темной теме */
}


